/* Colour ideas */
/* #deb881, #f6cd90, #eadea6, #efe9cc */
/* 94b4a4, d2f5e3, e5c5b5, f4d9c6 */

html {
    padding: 0;
    margin: 0;
    background-color: #EFE9D7;
}
.App {
    background-color: #EFE9D7;
    height: 100vh;
}

.align-left {
    text-align: left;
}

/* Glyph, by Harry Roberts */
hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #efe9cc;
}

.style-eight {
    width: 92%;
    margin-top: 8rem;
}
/* 404 Page */
.no-match {
    text-align: center;
    margin-top: 35vh;
    letter-spacing: 1.5px;
    line-height: 3;
}
.header-404 {
    font-size: 50px;
}


/* Title Section */
#title {
    width: 100vw;
    background-image: url(./assets/MALLORY+SHAWN-135.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 0;
    text-align: center;
    color: #eadea6;
}

.row {
    width: 100%;
    margin-left: 0;
}

.navbar {
    font-family: 'Montserrat';
    background-color: #efe9cc !important;
    text-align: center;
}

.nav-link {
    padding: 10px 15px !important
}
.nav-link:active, .nav-link:focus{
    text-decoration: none;
}

.title-text {
    padding: 50px;
}

.title-header-1 {
    font-family: 'Dancing Script', cursive;
    font-size: 10vw;
}

.top-hr {
    background-color: #eadea6;
    height: 2px;
    width: 65%;
}

.title-header-3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    letter-spacing: 6px;
}

.btn:hover {
    color: #f6cd90;
}

.btn {
    border-color: #eadea6;
    color: #eadea6;
    margin: 0 auto;
    text-align: center;
    padding: 7px;
    border-radius: none;
}

.btn-warning,
.btn-warning:hover {
    color: white;
}

.responsive-text {
    font-size: 1.5vmax;
}

button:focus {
    outline: none;
}

.dividing-hr {
    width: 100%;
    height: 3px;
    border: 3px;
    border-color: lightgrey;
    background-color: lightgrey;
    margin-top: 0;
}


/* RSVP Form */
.RSVPForm, .confirmationForm {
    margin: 8% 10%;
    font-family: 'Montserrat', sans-serif;
}
.RSVPHeader {
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
}
.continue-btn {
    margin-top: 30px;
}
.RSVPName {
    float: left;
    font-size: 150%;
    padding-bottom: 20px;
}
.RSVPSelection, .attendenceBtn {
    float: right;
}
#accommodations-form {
    text-align: center;
}
.confirmationTable {
    background-color: white;
}
.success-message {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/* Countdown Section */

#countdown {
    background-color: #efe9cc;
    text-align: center;
    height: fit-content;
    padding: 125px 0 70px 0; 
    font-family: 'Montserrat', sans-serif;
}
.timeleft {
    font-size: 3vw;
}

/* Details Section */

#details {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-bottom: 70px;
    background-color: #efe9cc;
    /* eadea6 */
}

.details-container {
    padding: 0 4%;
}

.details-header-1 {
    font-size: 8vh;
    font-family: 'Dancing Script', cursive;
    font-weight: 100;
    padding-bottom: 50px;
}
.details-header-2 {
    font-family: 'Dancing Script', cursive;
    font-size: 150%;
    font-weight: 100;
    padding-bottom: 50px;
}

.details-header-2 {
    font-size: 350%;
}

.details-p {
    color: black;
    font-size: 150%;
}

.wedding-date {
    font-size: larger;
}

.details-hr {
    height: 2px;
    width: 65%;
}



/* Gallery Section */

#gallery {
    background-color: #efe9cc;
    /* #cdac81; */
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 70px;
    text-align: center;
}

.gallery-header {
    font-family: 'Dancing Script', cursive;
    font-weight: 100;
    font-size: 400%;
    padding-bottom: 70px;
}

.gallery-carousel {
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

.outer-carosel-container {
    padding: 0 4%;
}

.credit {
    padding-top: 5px;
    float: right;
    padding-right: 50px;
}

.credit-link {
    text-decoration: none;
    color: black;
}

.credit-link:hover {
    text-decoration: none;
    color: lightgrey;
}


/* Registry Section */

#registry {
    height: fit-content;
    padding: 0 4% 70px;
    background-color: #efe9cc;
    /* #eadea6 */
    text-align: center;
}

.registry-header-1 {
    font-family: 'Dancing Script', cursive;
    font-size: 8vh;
    padding-bottom: 50px;
}

.registry-img {
    width: 300px;
    height: 100px;
    margin-bottom: 50px;
    margin-left: -20px;
}

.registry-desc {
    font-family: 'Montserrat', sans-serif;
}


/* Footer Section */

#footer {
    font-family: 'Montserrat', sans-serif;
    height: 150px;
    background-color: #eadea6;
    text-align: center;
}

.footer-icon {
    padding: 0 15px 20px;
}

.footer-icon-link {
    text-decoration: none;
    color: black;
}

.footer-icon-link:hover {
    color: grey;
}

.copy {
    padding-top: 60px;
}


/* Changes based on screen size */

@media screen and (max-width: 768px) {
    .btn {
        padding: 8px 15px;
    }
    .title-header-1 {
        font-size: 12vw;
    }
    .title-header-3 {
        font-size: 2.5vw;
    }
    .title-text {
        padding: 0;
    }
    .no-match {
        margin-top: 25vh;
    }
    .header-404 {
        font-size: 35px;
    }
    .RSVPHeader {
        font-size: 150%;
    }
    .confirmationTable {
        overflow-x: auto;
    }
    
}